.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: gray;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
	left: 0;
}

.logo {
	background-color: white;
	color: black;
	border-radius: 50%;
	font-weight: bold;
	font-size: 21;
	text-shadow: 0 0 7px #fff, 0 0 21px 3ff00de;
	padding: 15px;
	
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a {
	color: #ddd;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
	
	/* menambahkan background link di nav */
	background-color: black;
	padding: 10px 20px;
	border-radius: 20px;
}

.nav-links li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: grey;
	font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    background: #eef0f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #f5f6fc;
    width: 550px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0.25);
}

.card h1 {
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #222;
}

.skill {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    margin-bottom: 30px;
}

.skill img {
    width: 60px;
}
