.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: gray;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
	left: 0;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a {
	color: #ddd;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
	
	/* menambahkan background link di nav */
	background-color: black;
	padding: 10px 20px;
	border-radius: 20px;
}

.nav-links li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: grey;
	font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}	

.profile-container{
	background-color: #ffffff;
	padding: 30px;
	border-radius:12px;
	box-shadow: 0 4px 15px rgba(0, 0, 0,1);
	width: 300px;
	text-align: left;
}

.info-label {
	width:100px;
	display: inline-block;
	color: #333;
	font-weight:bold;
}

a {
	display: inline-block;
	background-color: grey;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 10px;
	text-decoration:none;
}

a:hover {
	background-color: #0056b3;
}

.profil-info {
	line-height: 25px;
	color: #555;
	margin-bottom:10px;
}

img {
	border-radius: 50%;
	object-fit:cover;
	border: 3px solid #333;
}
