body {
	margin: 0;
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: gray;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
	left: 0;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a {
	color: #ddd;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
	
	/* menambahkan background link di nav */
	background-color: black;
	padding: 10px 20px;
	border-radius: 20px;
}

.nav-links li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: grey;
	font-weight: bold;
}

.content {
	padding: 80px 20px;
	/* background-color: grey; */
	background: linear-gradient(135deg, #6a5af9, #5ac8fa);
	color: white;
	text-align: center;
	
}

.logo {
	background-color: white;
	color: black;
	border-radius: 50%;
	font-weight: bold;
	font-size: 21;
	text-shadow: 0 0 7px #fff, 0 0 21px 3ff00de;
	padding: 15px;
	
}

.content a {
	display: inline-block;
	background-color: grey;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 10px;
	text-decoration:none;
	
}

.content a:hover {
	background-color: #0056b3;
	font-weight: bold;
	transition: 0.3s;
	
}